<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.merative.healthpass">

    <!--Queries needed for the app to look for the Samsung Pay App-->
    <queries>
        <package android:name="com.samsung.android.spay" />
        <package android:name="com.samsung.android.samsungpay.gear" />
    </queries>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application android:label="@string/app_name">

        <!-- Samsung Pay-->
        <meta-data
            android:name="debug_mode"
            android:value="${spay_debug_mode}" />
        <meta-data
            android:name="spay_debug_api_key"
            android:value="${spay_debug_api_key}" />
        <meta-data
            android:name="spay_sdk_api_level"
            android:value="2.16" />

        <activity
            android:name=".ui.mainActivity.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <!--use this for deep linking only-->
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="open.dhpwallet.app"
                    android:pathPrefix="/registration"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <!--use this for app launcher only-->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- this is needed for apps like whatsapp, it doesn't provide extension, so you can't add path  -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />

                <data
                    android:mimeType="application/octet-stream"
                    android:scheme="content" />
            </intent-filter>

            <!-- this is needed for apps like explorer -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <!--
                    Work around Android's ugly primitive PatternMatcher
                    implementation that can't cope with finding a . early in
                    the path unless it's explicitly matched.
                -->
                <data android:host="*" />
                <data android:pathPattern=".*\\.w3c" />
                <data android:pathPattern=".*\\..*\\.w3c" />
                <data android:pathPattern=".*\\..*\\..*\\.w3c" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.w3c" />
                <!-- keep going if you need more -->
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <!--
                    Work around Android's ugly primitive PatternMatcher
                    implementation that can't cope with finding a . early in
                    the path unless it's explicitly matched.
                -->
                <data android:host="*" />
                <data android:pathPattern=".*\\.smart-health-card" />
                <data android:pathPattern=".*\\..*\\.smart-health-card" />
                <data android:pathPattern=".*\\..*\\..*\\.smart-health-card" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.smart-health-card" />
                <!-- keep going if you need more -->
            </intent-filter>

            <!--This is added to handle a deep link -->
            <nav-graph android:value="@navigation/nav_graph_main" />

        </activity>


    </application>

</manifest>